:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}
.header-nav-link.current,
.button-filter.current {
  color: var(--accent-color);
}
.body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
/* Header */
.header {
  background-color: #ffffff;
}
.header-logo,
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2196f3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo-st {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}

.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}
.header-nav-link:hover,
.address-link:hover {
  color: var(--accent-color);
}
.header-nav-link:focus,
.address-link:focus {
  color: var(--accent-color);
}
/* Main */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  background-color: #2f303a;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: #2196f3;
  cursor: pointer;
}

.main-services {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.main-services-duty {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.what-studio-makes {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team {
  background-color: #f5f4fa;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.members-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.members-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.contacts {
  background-color: #2f303a;
}
.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--main-title-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.studio-location {
  color: var(--main-title-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  cursor: pointer;
  background-color: #f5f4fa;
}
.button-filter:hover {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}
.button-filter:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.gallery-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}
.gallery-list-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
